{% extends 'mainapp/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h1>Reset Your Password</h1>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
  {% csrf_token %}
  <input type="password" name="new_password1" placeholder="Enter new password" required><br>
  <input type="password" name="new_password2" placeholder="Confirm new password" required><br>
  <button type="submit">Reset Password</button>
</form>
{% endblock %}
