/* טבלת משתמשים */
.user-table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.user-table th,
.user-table td {
    padding: 12px 20px;
    font-size: 16px;  
    text-align: center;
}

.user-table tbody tr:not(:last-child) td {
    border-bottom: 2px solid #252222;
}


.user-table th {
    background-color: #007bff;
    color: white;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

/* כפתור חזרה */
.back-button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

/* כפתורים במערכת */
.system-button {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.system-button:hover {
    background-color: #0056b3;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

/* תיבת טופס מעוצבת */
.form-box {
    background-color: #cfe8fc;
    max-width: 700px;          
    margin: 80px auto;
    padding: 50px 60px;        
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
